<div>
<div>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Source</mat-label>
    <input type="text"
    placeholder="Pick one" [(ngModel)]="place" name="place" [formControl]="checkSource" 
    aria-label="Number" matInput ngx-google-places-autocomplete (change) = "onChangeEvent($event)"
    [options]='option' #sourcePlacesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    </mat-autocomplete>
    <!-- <mat-error *ngIf="checkSource.hasError('email') && !checkSource.hasError('required')">
      Please enter a valid email address
    </mat-error> -->
    <mat-error *ngIf="checkValidate === 'no'">
      Source is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="checkValidate === 'no'">
     Invalid <strong>source</strong>
    </mat-error>
  </mat-form-field>
  <label>To</label>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Destination</mat-label>
    <input type="text"
    placeholder="Pick one"
    aria-label="Number" matInput ngx-google-places-autocomplete #destinationPlace
    [options]='option' #destinationPlacesRef="ngx-places" (onAddressChange)="handleAddressChange_2($event)"/>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    </mat-autocomplete>
  </mat-form-field>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click) = "findDistance()">Search</button>
    </div>
  </section>
</form>
</div>

<div class="table-ang">
  {{place}}
  <app-table></app-table>
</div>

</div>





